name: build_and_deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # --------------------------
      # 1. Checkout
      # --------------------------
      - name: Checkout repository
        uses: actions/checkout@v4

      # --------------------------
      # 2. Login to Docker Hub
      # --------------------------
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --------------------------
      # 3. Build & push image
      # --------------------------
      - name: Build & Push Image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/blue-green-app:${{ github.sha }}

      # --------------------------
      # 4. SSH to EC2 and deploy
      # --------------------------
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@3.142.135.54 << 'EOF'
            cd ~/blue_green/workflow
            chmod +x deploy.sh

            # Cambia el color que quieras desplegar:
            ENVIRONMENT="blue"

            # Ejecutar deploy con ENV + TAG
            ./deploy.sh $ENVIRONMENT $GITHUB_SHA
          EOF
