name: CI/CD Blue-Green Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.AWS_SSH_KEY }}

      - name: Deploy to AWS server
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@3.142.135.54 << 'EOF'
            cd ~/blue-green-app
            git pull origin main

            chmod +x scripts/deploy.sh scripts/switch.sh

            LAST=$(cat last_env.txt || echo "green")

            if [ "$LAST" == "green" ]; then
                NEW_ENV="blue"
                PORT_TO_SWITCH="8081"
            else
                NEW_ENV="green"
                PORT_TO_SWITCH="8082"
            fi

            ./scripts/deploy.sh $NEW_ENV
            ./scripts/switch.sh $PORT_TO_SWITCH
            echo "$NEW_ENV" > last_env.txt

            echo "El entorno desplegado y activado fue: $NEW_ENV en el puerto $PORT_TO_SWITCH"
          EOF
