name: CI/CD Blue-Green Deployment

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    env:
      REGISTRY_URL: timoteocruz31/blue-green-app

    steps:
      # 1. Obtener el repo
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Login al Docker Registry (Docker Hub)
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Construir + subir imagen
      - name: Build & Push Docker Image
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY_URL }}:${{ github.sha }}

      # 4. Preparar SSH para entrar a la EC2
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.AWS_SSH_KEY }}

      # 5. Ejecutar deploy en EC2
      - name: Deploy to AWS EC2
        env:
          COMMIT_SHA: ${{ github.sha }}
          DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASS: ${{ secrets.DOCKER_PASSWORD }}
          REGISTRY_URL_ENV: ${{ env.REGISTRY_URL }}
        run: |
          ssh -o StrictHostKeyChecking=no ec2-user@3.142.135.54 << EOF
            cd ~/blue-green-app

            git pull origin main

            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin

            chmod +x scripts/deploy.sh scripts/switch.sh

            LAST=$(cat last_env.txt 2>/dev/null || echo "green")

            if [ "$LAST" == "green" ]; then
                NEW_ENV="blue"
                PORT_TO_SWITCH="8081"
            else
                NEW_ENV="green"
                PORT_TO_SWITCH="8082"
            fi

            echo "Deploying: ENV=\$NEW_ENV | SHA=$COMMIT_SHA | REGISTRY=$REGISTRY_URL_ENV"

            # Enviar correctamente los 3 argumentos:
            ./scripts/deploy.sh \$NEW_ENV $COMMIT_SHA $REGISTRY_URL_ENV

            ./scripts/switch.sh \$PORT_TO_SWITCH

            echo \$NEW_ENV > last_env.txt

            echo "Entorno activado: \$NEW_ENV en puerto \$PORT_TO_SWITCH (Imagen: $COMMIT_SHA)"
          EOF
